@import "tailwindcss";
@import "katex/dist/katex.min.css";
@source "../../../packages/ndg-editor/src";

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  * {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --color-primary: #0ea5e9;
}

.katex {
  font-size: 0.75em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
